<template>
  <figure class="fr-quote fr-quote--column">
    <blockquote :cite="sourceURL">
      <slot />
    </blockquote>

    <figcaption>
      <p v-if="author" class="fr-quote__author">{{ author }}</p>

      <ul v-if="$slots.details" class="fr-quote__source">
        <slot name="details" />
      </ul>

      <div v-if="imagePath" class="fr-quote__image">
        <img :src="imagePath" class="fr-responsive-img" alt="" />
      </div>
    </figcaption>
  </figure>
</template>

<script>
export default {
  name: 'FrQuote',

  props: {
    author: {
      type: String,
      default: null,
    },
    sourceURL: {
      type: String,
      default: null,
    },
    imagePath: {
      type: String,
      default: null,
    },
  },
};
</script>
