<template>
  <button
    class="fr-link fr-link--icon-right fr-icon-download-line"
    @click="printPDF"
  >
    <slot>Télécharger notre offre</slot>
  </button>
</template>

<script>
export default {
  name: 'FrDownloadLink',

  methods: {
    printPDF() {
      window.print();
    },
  },
};
</script>
