<template>
  <div>
    <FrHeader />
    <main id="main-content" tabindex="-1">
      <nuxt />
    </main>
    <FrFooter />
    <feedback-widget />
  </div>
</template>

<script>
import FrHeader from '~/components/elements/Header';
import FrFooter from '~/components/elements/Footer';

export default {
  name: 'DefaultLayout',

  components: {
    FrHeader,
    FrFooter,
  },
};
</script>
